.orange-button-container {
  position: relative;
  height: $button-height;
  width: 100%;
  background-color: $orange;
  box-sizing: border-box;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  border: none;
  &:hover:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $orange-hover-overlay;
    border-radius: 30px;
  }
}
